<article class="message is-success" id="success_message">
  <div class="message-header">
    <p>Success</p>
  </div>
  <div class="message-body">
      <p>
        Product added to cart
      </p>
      <button class="button"
              onclick="hide_element('success_message');" > 
              Continue to shop!
      </button>  
      <form method="GET" action="cart.php">
        <input type="submit" class="button is-active is-warning" 
               value="Go to Cart"/>
      </form>
  </div>
</article>