  
    <nav class="navbar has-background-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.php">
                <div class="button is-info is-active">
                    <strong>MarketPlace Home</strong>
                </div>
            </a>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu is-active">
            <div class="navbar-start">
        
            </div>
            
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="navbar- button is-primary" href="cart.php">
                                Cart
                        </a>

                        <a class="button is-info " href="signup.php">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light " href="login.php">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
